body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

.container-section {
    border: 2px solid turquoise;
    width: 75vw;
    height: auto;
    margin: auto;
    border-radius: 10px;
    
}

#encabezado {
  display: flex;
  
}

#foto {
  width: 10vw;
  height: auto;
  
}

#nombre {
  display: flexbox;
  margin: auto;
  text-align: center;
}