body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

.container-section {
    border: 2px solid turquoise;
    width: 75vw;
    height: auto;
    margin: auto;
    padding: 1.5em;
}

#encabezado {
  display: flex;
  background-color: cadetblue;
}

#foto {
  width: 10vw;
  height: auto;
   
}

#nombre {
  margin: auto;
  text-align: center;
  font-size: larger;
}

#contactos {
    display: flex;
    justify-content: space-between; /* Distribuye equitativamente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: wrap; /* Permite adaptación en pantallas pequeñas */
    
}

#sobre-mi {
  text-align: justify;
  
}

#edu-exp {
  display: flex;
  flex-direction: column;
}

.contacto-item {
    display: flex;
    align-items: center; /* Mantiene juntos la imagen y el texto */
    gap: 0.5em; /* Espaciado entre imagen y texto */
}

